.App {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: top url(./img/main-bg.jpg);
  text-align: center;
}
.container {
  max-width: 1200px;
  background-color: yellow;
  padding: 8px;
}
main {
  background-color: green;
  display: flex;
  flex: 0 1 auto;
}


